{% extends 'base.html' %}


{% block head %}
<title>Change Password</title>
<script src={{ url_for('static', filename='js/changePassword.js') }}></script>

{% endblock %}

{% block body %}


<section class="py-16 bg-gray-100 dark:bg-gray-800">
	<div class="max-w-6xl px-4 mx-auto">
	  <div
		class="p-6 bg-white border border-gray-100 rounded-lg shadow dark:bg-gray-900 dark:border-gray-900"
	  >
  
  {% if not loggedIn %}
  <div class="flex pt-6 flex-wrap -m-1.5">
	  <div class="w-full md:w-auto p-1.5">
		  <a href="/"
			  class="flex flex-wrap justify-center w-full px-4 py-2 text-sm font-medium text-white bg-blue-500 border border-blue-500 rounded-md hover:bg-blue-600">
			  <p></p>
		  </a>
	  </div>
  </div>
  
  {% else %}
  
		<div class="pb-6 border-b border-gray-100 dark:border-gray-700">
		  <h2
			class="text-xl font-bold text-gray-800 md:text-3xl dark:text-gray-300"
		  >
			Change Password
		  </h2>
		  <p class="text-xs font-medium text-gray-500">
			Welcome {{firstName}}
		  </p>
		</div>
  
		<form action={{ url_for('changePassword') }} method="POST" onsubmit="return validate()">

			<div class="py-6 border-b border-gray-100 dark:border-gray-800">
				<div class="w-full ">
				  <div class="flex flex-wrap -m-3">
					<div class="w-full p-3 ">
					  <p
						class="text-base font-semibold text-gray-700 dark:text-gray-400"
					  >
					  <div class="py-6 border-b border-gray-100 dark:border-gray-800">
						<div class="w-full ">
						  <div class="flex flex-wrap -m-3">
							<div class="w-full p-3 ">
							  <p class="text-base font-semibold text-gray-700 dark:text-gray-400">
								Old Password
					  		  </p>
							</div>
							<div class="w-full p-3 md:flex-1">
								<input type="password" name="oldpassword" placeholder="Your Current Password" class="w-3/5 dark:bg-gray-800 dark:border-gray-800 px-4 dark:placeholder-gray-500 dark:text-gray-400 py-2.5 text-base text-gray-900 rounded-lg font-normal border border-gray-200"/>
							</div>
				  		  </div>
						</div>
			  		  </div>


			  <div class="py-6 border-b border-gray-100 dark:border-gray-800">
				<div class="w-full ">
				  <div class="flex flex-wrap -m-3">
					<div class="w-full p-3 ">
					  <p
						class="text-base font-semibold text-gray-700 dark:text-gray-400"
					  >
					  <div class="py-6 border-b border-gray-100 dark:border-gray-800">
						<div class="w-full ">
						  <div class="flex flex-wrap -m-3">
							<div class="w-full p-3 ">
							  <p
								class="text-base font-semibold text-gray-700 dark:text-gray-400"
							  >
								New Password
					  </p>
					</div>
					<div class="w-full p-3 md:flex-1">
						<input type="password" name="newpassword" id="newpassword" placeholder="Your New Password" class="w-3/5 dark:bg-gray-800 dark:border-gray-800 px-4 dark:placeholder-gray-500 dark:text-gray-400 py-2.5 text-base text-gray-900 rounded-lg font-normal border border-gray-200"/>
							
					</div>
				  </div>
				</div>
			  </div>



			  <div class="py-6 border-b border-gray-100 dark:border-gray-800">
				<div class="w-full ">
				  <div class="flex flex-wrap -m-3">
					<div class="w-full p-3 ">
					  <p
						class="text-base font-semibold text-gray-700 dark:text-gray-400"
					  >
					  <div class="py-6 border-b border-gray-100 dark:border-gray-800">
						<div class="w-full ">
						  <div class="flex flex-wrap -m-3">
							<div class="w-full p-3 ">
							  <p
								class="text-base font-semibold text-gray-700 dark:text-gray-400"
							  >
								Old Password
					  </p>
					</div>
					<div class="w-full p-3 md:flex-1">
						<input type="password" name="cpassword" id="cpassword" placeholder="Confirm New Password" class="w-3/5 dark:bg-gray-800 dark:border-gray-800 px-4 dark:placeholder-gray-500 dark:text-gray-400 py-2.5 text-base text-gray-900 rounded-lg font-normal border border-gray-200"/>
							
					</div>
				  </div>
				</div>
			  </div>

	  
		<div class="flex pt-6 flex-wrap -m-1.5">
			<div class="w-full md:w-auto p-1.5">
				<input type="submit" value="Save Changes"
					class="flex flex-wrap justify-center w-full px-4 py-2 text-sm font-medium text-white bg-blue-500 border border-blue-500 rounded-md hover:bg-blue-600"/>
			</div>
		  <div class="w-full md:w-auto p-1.5">
			  <a href="/account/profile"
				  class="flex flex-wrap justify-center w-full px-4 py-2 text-sm font-medium text-white bg-blue-500 border border-blue-500 rounded-md hover:bg-blue-600">
				  <p>Back to Profile</p>
			  </a>
		  </div>
		  <div class="w-full md:w-auto p-1.5">
			  <a href="/logout"
				  class="flex flex-wrap justify-center w-full px-4 py-2 text-sm font-medium text-white bg-red-500 border border-red-500 rounded-md hover:bg-red-600 ">
				  <p>Sign Out</p>
			  </a>
		  </div>
		 </div>
		{% endif %}
		</form>
		
	  </div>
	</div>
  </section>



{% endblock %}