{% extends 'base.html' %}


{% block head %}
<title>Edit Profile </title>
{% endblock %}

{% block body %}
<div>


	{% if not loggedIn %}
	<div>
		<a class="link" href="/loginForm">Sign In</a>
	</div>
	{% else %}
	<div>
		<button>Hello, <br>{{firstName}}</button>
		<div>
			<a href="/account/profile">Your profile</a>
			<hr>
			<a href="/logout">Sign Out</a>
		</div>
	</div>
	{% endif %}


<div class="display">
	<h2>Edit profile</h2>
	<form action="/updateProfile" method="POST">
		<p>Email:<input type="email" name="email" value={{profileData[1]}} readonly="readonly"></p>
		<p>First Name:<input type="text" name="firstName" value={{profileData[2]}}></p>
		<p>Last Name: <input type="text" name="lastName" value={{profileData[3]}}></p>
		<p>City: <input type="text" name="city" value={{profileData[4]}}></p>
		<p>State: <input type="text" name="state" value={{profileData[5]}}></p>
		<p>Country: <input type="text" name="country" value={{profileData[6]}}></p>
		<p>Phone Number: <input type="text" name="phone" value={{profileData[7]}}></p>
		<input type="submit" value="Save">
	</form>
{% endblock %}