{% extends 'base.html' %} {% block head %}
<title>Registration</title>
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'js/validateForm.js') }}"
></script>
{% endblock %} {% block body %}

<section class="relative dark:bg-gray-900 py-4 lg:py-11 font-poppins flex mt-[64px]">
  <div class="flex w-full mx-auto flex-wrap items-center">
    <div
      class="dark:bg-gray-800 rounded-md shadow-lg w-96 mx-auto p-4 mb-4"
    >
      <div class="text-center mx-auto mb-3">
        <span class="inline-block font-semibold text-base text-blue-500"
          >REGISTER</span
        >
        <h2 class="text-2xl font-bold text-gray-700 dark:text-gray-300">
          Join Summarize&QnA
        </h2>
      </div>
      <form
        action="/register"
        method="POST"
        onsubmit="return validate()"
        class="flex flex-col items-start gap-4 px-8 py-4 w-full"
      >
        <div class="relative flex flex-wrap w-full">
          <input
            name="email"
            type="email"
            placeholder="e.g:info@gmail.com"
            required 
            class="relative w-full py-2 px-1 text-sm border rounded dark:text-gray-300 dark:border-gray-700 dark:bg-gray-700 md:mb-0"
          />
          <span
            class="absolute top-0 left-0 inline-block px-1 ml-4 -mt-2 text-xs text-gray-500 bg-white dark:text-gray-300 dark:bg-gray-800"
            >Email address</span
          >
        </div>

        <div class="relative flex flex-wrap w-full">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="e.g:mypassword123"
            required 
            class="relative w-full py-2 px-1 text-sm border rounded dark:text-gray-300 dark:border-gray-700 dark:bg-gray-700 md:mb-0"
          />
          <span
            class="absolute top-0 left-0 inline-block px-1 ml-4 -mt-2 text-xs text-gray-500 bg-white dark:text-gray-300 dark:bg-gray-800"
            >Password</span
          >
        </div>

        <div class="relative flex flex-wrap w-full">
          <input
            type="password"
            name="cpassword"
            id="cpassword"
            class="relative w-full py-2 px-1 text-sm border rounded dark:text-gray-300 dark:border-gray-700 dark:bg-gray-700 md:mb-0"
            placeholder="e.g:mypassword123"
            required 
          />
          <span
            class="absolute top-0 left-0 inline-block px-1 ml-4 -mt-2 text-xs text-gray-500 bg-white dark:text-gray-300 dark:bg-gray-800"
            >Confirm Password</span
          >
        </div>

        <div class="relative flex flex-wrap w-full">
          <input
            type="text"
            name="firstName"
            class="relative w-full py-2 px-1 text-sm border rounded dark:text-gray-300 dark:border-gray-700 dark:bg-gray-700 md:mb-0"
            placeholder="e.g:Ranjit"
            required 
          />
          <span
            class="absolute top-0 left-0 inline-block px-1 ml-4 -mt-2 text-xs text-gray-500 bg-white dark:text-gray-300 dark:bg-gray-800"
            >First Name</span
          >
        </div>

        <div class="relative flex flex-wrap w-full">
          <input
            type="text"
            name="lastName"
            class="relative w-full py-2 px-1 text-sm border rounded dark:text-gray-300 dark:border-gray-700 dark:bg-gray-700 md:mb-0"
            placeholder="e.g:Gautam"
            required 
          />
          <span
            class="absolute top-0 left-0 inline-block px-1 ml-4 -mt-2 text-xs text-gray-500 bg-white dark:text-gray-300 dark:bg-gray-800"
            >Last Name</span
          >
        </div>

        <div class="relative flex flex-wrap w-full">
          <input
            type="text"
            name="city"
            class="relative w-full py-2 px-1 text-sm border rounded dark:text-gray-300 dark:border-gray-700 dark:bg-gray-700 md:mb-0"
            placeholder="e.g:Gulariya"
            required 
          />
          <span
            class="absolute top-0 left-0 inline-block px-1 ml-4 -mt-2 text-xs text-gray-500 bg-white dark:text-gray-300 dark:bg-gray-800"
            >City</span
          >
        </div>

        <div class="relative flex flex-wrap w-full">
          <input
            type="text"
            name="state"
            class="relative w-full py-2 px-1 text-sm border rounded dark:text-gray-300 dark:border-gray-700 dark:bg-gray-700 md:mb-0"
            placeholder="e.g:Lumbini"
            required 
          />
          <span
            class="absolute top-0 left-0 inline-block px-1 ml-4 -mt-2 text-xs text-gray-500 bg-white dark:text-gray-300 dark:bg-gray-800"
            >State</span
          >
        </div>

        <div class="relative flex flex-wrap w-full">
          <input
            type="text"
            name="country"
            class="relative w-full py-2 px-1 text-sm border rounded dark:text-gray-300 dark:border-gray-700 dark:bg-gray-700 md:mb-0"
            placeholder="e.g:Nepal"
            required 
          />
          <span
            class="absolute top-0 left-0 inline-block px-1 ml-4 -mt-2 text-xs text-gray-500 bg-white dark:text-gray-300 dark:bg-gray-800"
            >Country</span
          >
        </div>

        <div class="relative flex flex-wrap w-full">
          <input
            type="text"
            name="phone"
            class="relative w-full py-2 px-1 text-sm border rounded dark:text-gray-300 dark:border-gray-700 dark:bg-gray-700 md:mb-0"
            placeholder="e.g:98480XXXXX"
            required 
          />
          <span
            class="absolute top-0 left-0 inline-block px-1 ml-4 -mt-2 text-xs text-gray-500 bg-white dark:text-gray-300 dark:bg-gray-800"
            >Phone</span
          >
        </div>

        <button
          type="submit"
          class="w-max px-4 mx-auto py-1 font-semibold text-base text-gray-200 bg-blue-500 rounded dark:bg-blue-500 hover:text-blue-200"
        >
          Register
        </button>

        <p class="text-sm text-center mx-auto text-gray-700 dark:text-gray-400">
          Already have an account?
          <a
            href="/loginForm"
            class="font-bold text-base text-blue-500 hover:text-blue-700 dark:text-blue-300 dark:hover:text-blue-400"
          >
            Login</a
          >
        </p>
      </form>
    </div>
  </div>
</section>

{% endblock %}
